
<%= simple_form_for @post, url: @post.id.present? ? dashboard_post_path(@post.id) : dashboard_posts_path ,:html=>{id: :postForm}, remote: true do |f| %>
	
		<div class="form-group">
			<%= f.input :title, required: true, placeholder:"Title of your infographic" %>
		</end>

		<div class="form-group">
			 <%= f.file_field :image, id: 'js-upload-files' %>
			<h4>Or drag and drop files below</h4>
			<div class="upload-drop-zone" id="drop-zone">
			<% if @post.image_url.present? %>	
              	<img id="preview" src="<%=@post.image_url%>" alt="">

			<%else%>
				Just drag and drop files here
			<%end%>
			</div>
		</div>
		<div class="form-group">
	    	<%= f.association :tags, :include_hidden => false, input_html: { class: 'multi-select' }  %>
	   	</div>
	   	<div class="form-group">
	   		<%= f.input :description, placeholder:"This is some descriptive text about the infographic you just uploaded. The more information the better.  Include links to the source and other relevant information"  %>
	   	</div>
	   	<div class="form-group">
	   		<%= f.input :shortcode, placeholder:"#MPV123" %>
	   	</div>
		<%= submit_tag 'Save', class: "btn btn-sm btn-primary", id:"js-upload-submit" %>
		
		<% if @edit %>
			<%= link_to "delete", {:controller => :posts, :action => 'destroy', :id => @post.id }, :method => :delete, class: "btn btn-danger" %>
		<%end%>

<%end%>
<script>

	$('.multi-select').multiselect({enableFiltering: true});
</script>
